@using Business.DTOs.Brand
@model List<BrandDetailsDto>

<h2>Brands</h2>

<a class="btn btn-primary" href="/Brand/Create">Add Brand</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Brands != null)
        {
            foreach (var brand in ViewBag.Brands as List<Brand>)
            {
                <option value="@brand.Id">@brand.Name</option>
            }
        }
    </tbody>
</table>