@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To TechXpress</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

    <div class="container">
        <a href="/Categores/Index" class="btn btn-success">View Categories</a>
    </div>
</div>
